h5py==3.2.1
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.10
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
librosa==0.8.0
matplotlib==3.3.4
notebook==6.2.0
numba==0.52.0
numpy==1.20.1
pandas==1.2.3
git+git://github.com/pedrolisboa/poseidon@a3814f9
resampy==0.2.2
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
